---
layout: default
---
{% include site-header.html %}


<main class="main  container">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <article class="article  article--page  content  typeset">

        <h1>{{ page.title }}</h1>

        <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script> {{ content }}

    </article>

    {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}